@font-face {
	font-family:	"Montserrat";
	src:			url('Montserrat-SemiBold.otf') format('opentype');
	font-weight:	500;
}

@font-face {
	font-family:	"Montserrat";
	src:			url('Montserrat-Regular.otf') format('opentype');
	font-weight:	normal;
}

@font-face {
	font-family:	"Montserrat";
	src:			url('Montserrat-Light.otf') format('opentype');
	font-weight:	300;
}

@font-face {
	font-family:	"Montserrat";
	src:			url('Montserrat-UltraLight.otf') format('opentype');
	font-weight:	200;
}